@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-script: "Great Vibes", cursive;
  --font-sans: "Helvetica Rounded LT Bold", "Inter", sans-serif;
}

@font-face {
  font-family: 'Helvetica Rounded LT Bold';
  src: url('/fonnts.com-Helvetica_Rounded_LT_Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Helvetica Rounded LT Bold", "Inter", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
  background-color: white;
  color: black;
}
